

.taxi-description {
  margin: 10px;
  cursor: pointer;
}

.taxi-description:hover {
  opacity: 0.9;
}

.taxi-description.selected {
  opacity: 0.6;
}

.taxi-picture {
  background-size: cover;
}

.taxi-title {
  margin-top: 10px;
}

.taxi-title span {
  vertical-align: middle;
}

.taxi-rating {
  display: inline-block;
}

.rating-5, .rating-4, .rating-3, .rating-2, .rating-1 {
  height: 33px;
  width: 155px;
  background-image: url("/assets/rating.svg");
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 100%;
}

.rating-5 {
  background-position: 0px 2%;
}

.rating-4 {
  background-position: 0px 28%;
}

.rating-3 {
  background-position: 0px 53.5%;
}

.rating-2 {
  background-position: 0px 79%;
}

.rating-1 {
  background-position: 0px 104%;
}

@media only screen and (max-width: 650px) {
  .taxi-description {
    font-size: 0.7em;
    flex-basis: calc(100% - 20px);
  }

  .taxi-picture {
    height: 100px;
  }

  .rating-5, .rating-4, .rating-3, .rating-2, .rating-1 {
    height: 11px;
    width: 52px;
  }
}

@media only screen and (min-width: 650px) and (max-width: 900px) {
  .taxi-description {
    font-size: 0.7em;
    flex-basis: calc(100% - 20px);
  }

  .taxi-picture {
    height: 140px;
  }

  .rating-5, .rating-4, .rating-3, .rating-2, .rating-1 {
    height: 14px;
    width: 65px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1600px) {
  .taxi-description {
    font-size: 0.9em;
    flex-basis: calc(50% - 20px);
  }

  .taxi-picture {
    height: 140px;
  }

  .rating-5, .rating-4, .rating-3, .rating-2, .rating-1 {
    height: 17px;
    width: 78px;
  }
}

@media only screen and (min-width: 1600px) {
  .taxi-description {
    font-size: 1em;
    flex-basis: calc(33% - 20px);
  }

  .taxi-picture {
    height: 180px;
  }

  .rating-5, .rating-4, .rating-3, .rating-2, .rating-1 {
    height: 21px;
    width: 97px;
  }
}
